.achievement-title {
  margin: 1rem 0 1rem;
}
.breadcrumb {
  color: #8d98aa;
}
.content-description {
  margin-right: 1rem;
  width: 10.6875rem;
  display: flex;
}
.desc-product {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  margin-left: 0.625rem;
}
.desc-project {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  margin-left: 1.1rem;
}
.desc-date {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  margin-left: 2.2rem;
}
.desc-omtm {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  margin-left: 0.625rem;
}
.desc-budget {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  margin-left: 0.925rem;
}
.font-title {
  color: var(--color-grey);
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.header-description {
  display: flex;
  margin-bottom: 1rem;
}
.header-product {
  width: 50%;
}
.main-breadcrumb {
  display: flex;
}
.title {
  margin: 2.5rem 0 1.5rem;
}
.title-description {
  color: var(--color-grey);
  font-size: 0.875rem;
  margin: 1.5rem 0 1rem;
}
.title-memberCount {
  font-size: 0.875rem;
  margin: 1.5rem 1rem;
}