@import '../../../styles/variables';

.cdx-textinput {
  margin-bottom: $componentMargin;
  margin-right: $componentMargin;
  color: $fontColor;
  width: $inputWidth;

  &.block {
    width: 100%;
  }

  &.long {
    width: $inputWidthLong;
  }

  &:last-child {
    margin-bottom: $sectionMargin;
  }

  .label {

    p,
    .optional {
      margin: 0;
      margin-bottom: $standardMargin;
    }

    p {
      font-size: 1rem;
    }

    .optional {
      line-height: 0;
      font-size: 0.875rem;
    }

    .counter {
      transform: translateY(0.5rem);
      font-size: 0.75rem;
      margin-bottom: 0;
      color: $borderColor;
    }
  }

  .cdx-input,
  .cdx-textarea {
    border-radius: $inputRadius;
    border: solid 0.0625rem $borderColor;
    background-color: #ffffff;
    height: $inputHeight;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;

    &.small {
      font-size: 0.875rem;
      height: $inputHeightSmall;
      padding: 0 1rem;
    }

    &.cdx-textarea {
      height: $inputHeightLarge;
      resize: none;
    }

    &[type='number'] {

      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &[type='password'] .password-input {
      float: right;
      margin-left: -2.5rem;
      margin-top: 0.75rem;
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: contain;
      margin-right: 3rem;
    }

    &::placeholder {
      color: $borderColor;
      font-size: 0.875rem;
      font-style: italic;
    }

    &:focus {
      border: 0.0625rem solid $primaryColor;
    }

    &:disabled {
      background-color: $disabledColor;
    }

    &.error-input {
      border: 0.0625rem solid $errorColor;
    }

    &:required {
      box-shadow: none;
    }
  }
}