@import './variables';

* {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  font-size: $regularFontSize;
  --color-black: #1E2025;
  --color-disable: #DEE3ED;
  --color-drawer: #f5f7fa;
  --color-grey: #707a89;
  --color-light-grey: #c2c2c2;
  --color-primary: #289F97;
  --color-white: #ffffff;
  -webkit-text-size-adjust: none;
}

body {
  background-color: var(--color-white) !important;
  font-family: 'Ubuntu', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-black);
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

.caption {
  font-size: 0.75rem;
  color: $captionColor;
  margin: 0;


  a {
    text-decoration: none;
  }
}

.sub-text {
  margin-bottom: 1.5rem !important;
  font-size: 0.875rem;
}

.field-group .el-FieldText__cdx-textinput:last-child,
.field-group .cdx-select:last-child {
  margin-bottom: 1rem;
}