.pagination {
  width: 66.875rem;
}

#business-idea-table {

  th:first-child,
  td:first-child {
    text-align: left !important;
  }

  td:first-child {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
  }

  .td-action button {
    text-align: center !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #1e2025;
    text-decoration: none;
    font-size: 0.8rem;

    &:disabled {
      cursor: no-drop;
      color: #dee3ed;
    }
  }

}