.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  background-color: #f1f1f1;
}
.expand {
  padding: 0 18px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  background-color: #f1f1f1;
}